@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Lato|Sanchez");

.Dash {
  width: 90%;
  margin: auto;
  margin-top: 5em;
}
#whatIsZen {
  grid-column: 1/3;
  grid-row: 1/2;
  margin: auto;
}

.dashImg {
  display: block;
  width: 110px;
  height: 110px;
  margin: auto;
}

.dashP {
  margin: auto;
  text-align: center;
}

.tableDiv {
  margin: auto;
  padding: 2px;
  margin-top: 2em;
}

.dashTable {
  margin: auto;
  border-collapse: collapse;
  width: 100%;
}
.dashData {
  border: 1.5px solid #cccccc;
  padding: 1em;
}
a {
  text-decoration: none;
  outline: 0;

}
a.image-link:focus {
   outline: 0;
}
